<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="examcellvb.My.MySettings.examcellbdConnectionString"
            connectionString="Data Source=BMW-GROUPS\SQLEXPRESS;Initial Catalog=examcellbd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>